.gameflappy {
  
    width: 500px;
    height: 800px;
    z-index: 0;
    top: 0px;
    left: 0px;
    position: fixed;
}

#FlappyCat {
    text-align: center;
    font-size: 100px;
    z-index: 1;
}

#FlappyCat:hover span {
    color: blue;
    border: 3px black solid;
}

#button {
    text-align: center;
    font-size: 200px;
}


#FlappyCatText {
    text-align: center;
    font-size: 50px;
}

#FlappyCatText:hover span {
    color: red;
    border: 3px black solid;
}

body {
   background-color: rgb(199, 199, 199);
}

