/* /* h1 {
    background:rgb(200, 200, 200);
    color: blue;
   font-size: 50px;

   border: 3px blue solid;
   width: 700px;
   height: 80px;


border: 3px black solid;
text-align: center;
line-height:80px;

overflow: hidden;
/* margin-top: 10px;
margin-right: 20px;
margin-bottom:30px;
margin-left:40px;
 */
/* margin: 10px 20px 30px 40px; */

/* margin: 20px 40px; */

/* float: left;
margin: 30px
padding:60px; */
/*  */
/* }
.super-special {
    width: 100px;
    height: 100px;
    background: rgba(172, 16, 16,0.8);
    position: fixed;
    top: 0px;
    left: 0px;
    font-size: 50px;
    color: blue;
/* opacity: 0.8; */
/*
}
.special1 {
z-index: 2;
left: 50%;
top: 50%;
margin-left: -50px;
margin-top: -50px;
border-radius: 15px;
}

.special2 {
    left: 50px;
    background: blue;
}

.special3 {
    left: 25px;
    top:50px;
    background: green;
   }   */ 

/* .btn-danger {
    background: rgb(39,0,0);
} */

.row {
    
}